{% if tasks is not defined or adminlte_direct_include is defined %}
    {% set tasks = null %}
    {% set adminlte_tasks = adminlte_tasks() %}
    {% if adminlte_tasks is not null %}
        {% set tasks = adminlte_tasks.tasks %}
        {% set total = adminlte_tasks.total %}
    {% endif %}
{% endif %}
{% if tasks is defined and tasks is not null %}
    <li class="nav-item dropdown">
        <a class="nav-link" data-bs-toggle="dropdown" href="#">
            <i class="far fa-flag"></i>
            <span class="navbar-badge badge text-bg-warning">{{ total }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <span class="dropdown-item dropdown-header">{{ 'You have %count% tasks'|trans({'%count%': total}, 'AdminLTEBundle') }}</span>
            {% for task in tasks %}
                <div class="dropdown-divider"></div>
                <a href="{{ path('adminlte_task'|route_alias, {id: task.identifier}) }}" class="dropdown-item">
                    {{ task.title }}
                    <span class="float-end text-secondary fs-7">{{ task.progress }}%</span>
                    <div class="progress xs">
                        <div class="progress-bar progress-bar-{{ task.color }}"
                             style="width: {{ task.progress }}%"
                             role="progressbar"
                             aria-valuenow="{{ task.progress }}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            <span class="sr-only">{{ '%progress%% Complete'|trans({'%progress%': task.progress}, 'AdminLTEBundle') }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a href="{{ path('adminlte_tasks'|route_alias) }}" class="dropdown-item dropdown-footer"> {{ 'View all'|trans({}, 'AdminLTEBundle') }} </a>
        </div>
    </li>
{% endif %}
