{% import '@AdminLTE/Macros/default.html.twig' as macro %}
{% if user is not defined or adminlte_direct_include is defined %}
    {% set user = null %}
    {% set adminlte_userdetails = adminlte_user() %}
    {% if adminlte_userdetails is not null %}
        {% set user = adminlte_userdetails.user %}
        {% set links = adminlte_userdetails.links %}
        {% set showProfileLink = adminlte_userdetails.showProfileLink %}
        {% set showLogoutLink = adminlte_userdetails.showLogoutLink %}
    {% endif %}
{% endif %}
{% if user is defined and user is not null %}
    <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            {{ macro.avatar(user.avatar, user.username, 'user-image') }}
            <span class="d-none d-md-inline">{{ user.name }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <!--begin::User Image-->
            <li class="user-header text-bg-primary">
                {{ macro.avatar(user.avatar, user.username) }}
                <p>
                    {{ user.name }} - {{ user.title }}
                    {% block member_since %}
                        <small>{{ 'Member since %date%'|trans({'%date%': user.memberSince|date('m.Y')}, 'AdminLTEBundle') }}</small>
                    {% endblock %}
                </p>
            </li>
            <!--end::User Image-->
            {% if links %}
                <!--begin::Menu Body-->
                <li class="user-body">
                    <!--begin::Row-->
                    <div class="row">
                        {% for link in links %}
                            <div class="col-4 text-center"><a href="{{ path(link.path|route_alias, link.parameters) }}">{{ link.title }}</a></div>
                        {% endfor %}
                    </div>
                    <!--end::Row-->
                </li>
                <!--end::Menu Body-->
            {% endif %}
            <!--begin::Menu Footer-->
            <li class="user-footer">
                <a href="{{ path('adminlte_profile'|route_alias, {id: user.identifier}) }}" class="btn btn-default btn-flat">{{ 'Profile'|trans({}, 'AdminLTEBundle') }}</a>
                <a href="{{ logout_path() }}" class="btn btn-default btn-flat float-end">{{ 'Sign out'|trans({}, 'AdminLTEBundle') }}</a>
            </li>
            <!--end::Menu Footer-->
        </ul>
    </li>
{% endif %}
