{% macro menu_item(item) %}
    {% import _self as menu %}
    {% if item.route or item.hasChildren %}
        <li id="{{ item.identifier }}" class="nav-item {{ item.isActive ? 'active' : '' }} {{ item.hasChildren ? 'treeview' : '' }}">
            <a href="{{ item.hasChildren ? '#' : '/' in item.route ? item.route : path(item.route|route_alias, item.routeArgs) }}" class="nav-link">
                {% if item.icon %} <i class="nav-icon {{ item.icon }}"></i> {% endif %}
                <p>
                    {{ item.label|trans }}
                    {% if item.badge is not same as(false) %}
                        <span class="nav-badge badge text-bg-{{ item.badgeColor }} me-3">{{ item.badge }}</span>
                    {% endif %}
                    {% if item.hasChildren %}<i class="nav-arrow bi bi-chevron-right"></i>{% endif %}
                </p>
            </a>

            {% if item.hasChildren %}
                <ul class="nav nav-treeview" role="navigation"{# aria-label="Navigation 6"#}>
                    {% for child in item.children %}
                        {% if child.hasChildren %}
                           {{ menu.menu_item(child) }}
                        {% else %}
                            <li class="nav-item{{ child.isActive ? ' active' : '' }}" id="{{ child.identifier }}">
                                <a href="{{ '/' in child.route ? child.route : path(child.route|route_alias, child.routeArgs) }}" class="nav-link">
                                    {{ menu.menu_item_content(child, '') }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% else %}
        <li id="{{ item.identifier }}" class="nav-item {{ item.isActive ? 'active' : '' }}">
            {{ menu.menu_item_content(item, '') }}
        </li>
    {% endif %}
{% endmacro %}

{% macro menu_item_content(item, defaultIcon) %}
    {% set _icon = item.icon|default(defaultIcon) %}
    {% if _icon is not null %}
        <i class="{{ _icon }}"></i>
    {% endif %}
    <p>
        {{ item.label|trans }}
        {% if item.badge is not same as(false) %}
            <span class="nav-badge badge text-bg-{{ item.badgeColor }} me-3">{{ item.badge }}</span>
        {% endif %}
    </p>
{% endmacro %}
